body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  width: 90%;
  margin: auto;
  background-color: #a3b1cb;
}
.mylist {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.changebtn {
  display: flex;
  justify-content: center;
}

.changebtn button {
  padding: 10px 5rem;
  text-transform: uppercase;
  cursor: pointer;
}
.input input {
  outline: none;
  height: 3rem;
  text-transform: uppercase;
  text-align: center;
  width: 90%;
}
.input {
  margin: auto;
  padding-top: 10px;
}
.input-two {
  margin: 10px 0px;
}
.searchbtn {
  text-align: center;
}
.searchbtn input {
  margin-top: 1rem;
  width: 60%;
  text-align: center;
  text-transform: uppercase;
  height: 3rem;
}
label {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.container {
  margin-top: 2rem;
  padding-bottom: 2.5rem;
}
.list-container {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  padding-top: 10px;
}
.list-container input {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  margin-left: 2rem;
  margin-top: 10px;
}
.faTrash {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  color: #46539e;
  margin-top: 10px;
  margin-right: 3rem;
}
.empty {
  text-align: center;
  text-transform: capitalize;
}
